body {
    font-family: Arial, sans-serif; /* Define a fonte padrão para o corpo da página */
  }
  
  form {
    margin-top: 20px; /* Adiciona uma margem superior ao formulário */
  }
  
  label {
    font-weight: bold; /* Define o peso da fonte como negrito para os rótulos */
  }

  input[type="text"] {
    padding: 5px; /* Adiciona preenchimento ao campo de entrada de texto */
    margin: 5px 0; /* Adiciona uma margem superior e inferior ao campo de entrada de texto */
  }

  input[type="submit"] {
    padding: 5px 10px; /* Adiciona preenchimento ao botão de envio */
    background-color: #4CAF50; /* Define a cor de fundo do botão de envio */
    color: white; /* Define a cor do texto do botão de envio como branco */
    border: none; /* Remove a borda do botão de envio */
    cursor: pointer; /* Muda o cursor para um ponteiro quando sobre o botão */
  }
  
  input[type="submit"]:hover {
    background-color: #45a049; /* Muda a cor de fundo do botão de envio quando o mouse está sobre ele */
  }

.result {
    margin-top: 20px; /* Adiciona uma margem superior à div de resultado */
    padding: 10px; /* Adiciona preenchimento à div de resultado */
    border: 1px solid #ddd; /* Define uma borda sólida de 1px na div de resultado */
    background-color: #f9f9f9; /* Define a cor de fundo da div de resultado */
}  