body {
    font-family: Arial, sans-serif; /* Define a fonte padrão para o corpo da página */
  }
  
  form {
    margin-top: 20px; /* Adiciona uma margem superior ao formulário */
  }
  
  label {
    font-weight: bold; /* Define o peso da fonte como negrito para os rótulos */
  }

  input[type="text"] {
    padding: 5px; /* Adiciona preenchimento ao campo de entrada de texto */
    margin: 5px 0; /* Adiciona uma margem superior e inferior ao campo de entrada de texto */
  }